<div class="page-width rich-text">
  <div class="grid">
    <div class="grid__item {% unless section.settings.full_width %} medium-up--two-thirds medium-up--push-one-sixth{% endunless %}">
      {% if section.settings.section_title != blank %}
        <div class="rich-text__heading--{{ section.settings.text_size }} text-center">
          <h2 class="h3">{{ section.settings.section_title | escape }}</h2>
        </div>
      {% endif %}
      {% if section.settings.text != blank %}
        <div class="rich-text__text--{{ section.settings.text_size }} rte-setting text-center">{{ section.settings.text }}</div>
      {% endif %}
    </div>
  </div>
</div>



{% schema %}
{
  "name": {
    "da": "RTF",
    "de": "Rich Text",
    "en": "cBDL rt hiring",
    "es": "Texto enriquecido",
    "fi": "Rich text",
    "fr": "Texte enrichi",
    "hi": "रिच टेक्स्ट",
    "it": "Rich text",
    "ja": "リッチテキスト",
    "ko": "Rich text",
    "nb": "Rich text",
    "nl": "Tekst met opmaak",
    "pt-BR": "Rich text",
    "pt-PT": "Texto formatado",
    "sv": "Rich text",
    "th": "Rich Text",
    "zh-CN": "格式文本",
    "zh-TW": "RTF 文字"
  },
  "class": "index-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": {
        "da": "Bred visning",
        "de": "Breitbild-Display",
        "en": "Wide display",
        "es": "Pantalla ancha",
        "fi": "Laaja näyttö",
        "fr": "Affichage large",
        "hi": "चौड़ा डिस्प्ले",
        "it": "Visualizzazione ampia",
        "ja": "ワイドディスプレイ",
        "ko": "너비 표시",
        "nb": "Bred visning",
        "nl": "Brede weergave",
        "pt-BR": "Exibição ampla",
        "pt-PT": "Exibição ampla",
        "sv": "Breddvisning",
        "th": "การแสดงผลแบบกว้าง",
        "zh-CN": "宽显示屏",
        "zh-TW": "寬螢幕"
      }
    },
    {
      "type": "text",
      "id": "section_title",
      "label": {
        "da": "Overskrift",
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "En-tête",
        "hi": "शीर्षक",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "zh-CN": "标题",
        "zh-TW": "標題"
      },
      "default": {
        "da": "Fortæl om dit brand",
        "de": "Rede über deine Marke",
        "en": "Welcome students to your club",
        "es": "Habla de tu marca",
        "fi": "Kerro brändistäsi",
        "fr": "Parlez de votre marque",
        "hi": "अपने ब्रांड के बारे में बात करें",
        "it": "Parla del tuo brand",
        "ja": "あなたのブランドについて語る",
        "ko": "브랜드에 대해 이야기하기",
        "nb": "Snakk om merkevaren din",
        "nl": "Vertel over je merk",
        "pt-BR": "Fale sobre a sua marca",
        "pt-PT": "Fale sobre a sua marca",
        "sv": "Prata om ditt varumärke",
        "th": "พูดถึงแบรนด์ของคุณ",
        "zh-CN": "介绍您的品牌",
        "zh-TW": "描述您的品牌"
      }
    },
    {
      "type": "richtext",
      "id": "text",
      "label": {
        "da": "Tekst",
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fi": "Teksti",
        "fr": "Texte",
        "hi": "टेक्स्ट",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "nb": "Tekst",
        "nl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "zh-CN": "文本",
        "zh-TW": "文字"
      },
      "default": {
		"en": "<p>Use this text to share information about your club with your students. Describe your club, share announcements, or highlight something important to your students.</p>"
      }
    },
    {
      "type": "select",
      "id": "text_size",
      "label": {
        "da": "Størrelse",
        "de": "Größe",
        "en": "Size",
        "es": "Tamaño",
        "fi": "Koko",
        "fr": "Taille",
        "hi": "आकार",
        "it": "Dimensione",
        "ja": "サイズ",
        "ko": "사이즈",
        "nb": "Størrelse",
        "nl": "Grootte",
        "pt-BR": "Tamanho",
        "pt-PT": "Tamanho",
        "sv": "Storlek",
        "th": "ขนาด",
        "zh-CN": "大小",
        "zh-TW": "尺寸"
      },
      "default": "medium",
      "options": [
        {
          "label": {
            "da": "Lille",
            "de": "Klein",
            "en": "Small",
            "es": "Pequeño",
            "fi": "Pieni",
            "fr": "Petite",
            "hi": "छोटा",
            "it": "Piccolo",
            "ja": "小",
            "ko": "스몰",
            "nb": "Liten",
            "nl": "Klein",
            "pt-BR": "Pequeno",
            "pt-PT": "Pequeno",
            "sv": "Liten",
            "th": "เล็ก",
            "zh-CN": "小",
            "zh-TW": "小型"
          },
          "value": "small"
        },
        {
          "label": {
            "da": "Medium",
            "de": "Mittel",
            "en": "Medium",
            "es": "Mediano",
            "fi": "Keskisuuri",
            "fr": "Moyenne",
            "hi": "मध्यम",
            "it": "Medio",
            "ja": "中",
            "ko": "보통",
            "nb": "Middels",
            "nl": "Gemiddeld",
            "pt-BR": "Médio",
            "pt-PT": "Intermédio",
            "sv": "Medium",
            "th": "ปานกลาง",
            "zh-CN": "中等",
            "zh-TW": "中等"
          },
          "value": "medium"
        },
        {
          "label": {
            "da": "Stor",
            "de": "Groß",
            "en": "Large",
            "es": "Grande",
            "fi": "Suuri",
            "fr": "Grande",
            "hi": "बड़ा",
            "it": "Grande",
            "ja": "大",
            "ko": "라지",
            "nb": "Stor",
            "nl": "Groot",
            "pt-BR": "Grande",
            "pt-PT": "Grande",
            "sv": "Stor",
            "th": "ใหญ่",
            "zh-CN": "大",
            "zh-TW": "大型"
          },
          "value": "large"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {

        "en": "cBDL rt hiring"
      },
      "category": {

        "en": "cBDl"

      }
    }
  ]
}
{% endschema %}
